/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* --- RESET --- */

 html, body, header, nav, h1, h2, h3, a, ul, li,
 strong, main, section, img, div, p,
 form, fieldset, label, select, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

 body {
   box-sizing: content-box;
   font-family: sans-serif;
   font-size: 12px;
   color: #000000;
   background-color: #e6e8e3;
 }

 ul {
   list-style: none;
 }

/* --- GENERAL STYLE --- */
  main {
    min-width: 1100px;
    min-height: 700px;
  }

  input {
   color: #2DBE60;
   background-color: #F7F7F7;
   padding: 10px;
   border: 1px solid #CCCCCC;
   border-radius: 5px;
   margin-left: 5px;
   margin-right: 5px;
 }

 input:focus {
   border: 1px solid #2DBE60;
   background-color: #FFFFFF;
 }

 input:focus::-webkit-input-placeholder {
   opacity: 0;
 }

 input:not(:placeholder-shown) {
  background-color: #FFFFFF;
 }

 button {
   cursor: pointer;
   padding: 10px;
   text-align: center;
   color: #FFFFFF;
   background-color: #2DBE60;
   border-radius: 5px;
 }

 button:hover {
   color: #FFFFFF;
   background-color: #0F7C33;
 }

 h2 {
   text-align: center;
   margin: 0px 25px 0px 25px;
   padding: 10px 20px;
   font-size: 24px;
   font-weight: bold;
   font-family: 'Lato', sans-serif;;
   color: #7e8375;
   letter-spacing: 3px;
   background-color: #FFFFFF;
   border-bottom: 1px solid #CCCCCC;

 }

 .fa {
   color: #2DBE60;
 }

 .fa:hover {
   color: #0F7C33;
 }

 .warning {
   border-radius: 5px;
   color: #FFFFFF;
   background-color: #A62A14;
 }

 .warning:hover {
   color: #FFFFFF;
   background-color: #651c0f;
 }
 /* --- CLEARFIX --- */
 .group:after {
  content: "";
  display: block;
  clear: both;
 }

 /* --- HEADER --- */
 header {
   color: #2DBE60;
   background-color: #FFFFFF;
   padding: 10px;
 }

 .header-nav {

 }

 .header-logo {
   float: left;
   width: 60px;
   height: 60px;
 }

 .header-title {
   padding: 0px 10px 0px 5px;
   float: left;
   font-family: 'Roboto Slab', serif;
   font-size: 48px;
   border-right: 1px dotted #0F7C33;
 }

 .search-bar {
   width: 40%;
   float: left;
   margin-top: 13px;
 }
 .login-form {
   float: right;
   padding-top: 13px;
 }

 .guest-login {
  float: right;
  margin: 22px 10px 10px 10px;
 }

 .guest-login:hover {
   cursor: pointer;
   color: #0F7C33;
 }

 .login-form label {
   display: inline-block;
   padding-right: 5px;
 }

 .log-out {
   float: right;
   margin-top: 13px;
   padding: 10px 20px 10px 20px;
 }

 .user-panel {
   float: right;
   margin: 22px 10px 10px 10px;
 }

 .signup-form-container {
   margin: auto;
   width: 320px;
   margin-top: 20px;
   padding: 50px;
   border-radius: 5px;
   background-color: #FFFFFF;
   border: 1px solid #2DBE60;
 }

 .login-message {
   display: block;
   text-align: center;
   font-size: 36px;
   font-weight: bold;
   color: #FFFFFF;
   background-color: #2DBE60;
   padding-top: 175px;
   padding-bottom: 100px;
   margin: 0 auto;
   letter-spacing: 3px;

 }
 .signup-heading {
   display: block;
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   color: #2DBE60;
   padding-top: 25px;
   margin: 0 auto;
 }

 .signup-form-container button {
   margin: auto;
   margin-top: 20px;
   display: block;
   width: 100%;
   padding: 15px 0px;
   font-size: 24px;
 }

 .signup-form-container input {
   display:list-item;;
   width: 90%;
   margin: auto;
   margin-bottom: 20px;
 }

 .signup-form-container a {
   text-align: right;
   display: block;
   margin-top: 20px;
 }

 .signup-form-container a:hover {
   color: #2DBE60;
 }

 .errors {
   margin: auto;
   text-align: center;
   display: block;
   padding: 10px;
   background-color: #FFB6C1;
   color: red;
   border: 1px dotted #A62A14;
   margin-bottom: 20px;
 }

 .splash video{
   width: 100%;
   height: 100%;
   padding:0;
   margin:0;
   overflow: hidden;
   top: 0;
   left: 0;
   z-index: -2;
   position: relative;
   min-width: 100%;
   min-height: 100%;
 }

 .splash section div {
   position: relative;
   height: 0px;
 }

 .splash-form-container div {
   float: left;
   background-color: transparent;
   border: none;
 }

 .splash form {
   background-color: #FFFFFF;
   padding: 20px;
   border: 1px dotted #CCCCCC;
 }
/* --- Sidebar and mini-menu --- */
.content-container {
  min-height: 100vh;
  width: 1100px;
  background-color: #F7F7F7;
  border-right: 1px dotted #0F7C33;
  border-bottom: 1px solid #CCCCCC;
}

 .sidebar {
   width: 75px;
   min-height: 100vh;
   background-color: #e6e8e3;
   float: left;
   display: block;
   text-align: center;
   border-top: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
 }

 .sidebar ul {
 }

 .sidebar li {
   padding: 10px 15px;
 }

 .mini-menu {
  margin: 0px 5px 5px 0px;
  border-right: 1px dotted #0F7C33;
  border-left: 1px dotted #0F7C33;
  border-bottom: 1px dotted #0F7C33;
  padding: 10px, 20px;
  min-height: 100vh;
  width: 318px;
  float: left;
  background-color: #FFFFFF;
 }

.mini-panel {
  display: block;
  color: #2DBE60;
  background-color: #F7F7F7;
  float: right;
  width: 100%;
  margin-bottom: 10px;
}

.mini-panel i {
  margin-right: 5px;
  float: right;
}

.mini-panel p {
  float: right;
  padding: 5px 20px;
}

.mini-panel:hover {
  cursor: pointer;
}

 .index-item {
   padding: 10px 20px;
 }

 .index-item {
  background-color: #F7F7F7;
}

.index-item:nth-child(odd) {
  background-color: #FFFFFF;
}

.index-item:hover {
  cursor: pointer;
  background-color: #2DBE60;
}

.index-title {
  font-size: 16px;
}
.index-contents {
  margin-top: 5px;
}
.update {
  text-align: right;
}
/*---edtior ---*/
.note-container {
  float: left;
  width: 63%;
}

.note-control-panel {
  background-color: #e6e8e3;
  border-top: 1px solid #CCCCCC;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title-form {
  display: block;
  color: #2DBE60;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 0px;
  font-size: 36px;
  min-width: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-bottom: 2px solid #2DBE60;
}

.title-form:focus {
  border: 0px;
  border-bottom: 2px solid #2DBE60;
}

.quill {
  background-color: #FFFFFF;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  margin-top: 5px;
  min-width: 100%;
  min-height: 600px;
  height: 100vh;
}

.quill-toolbar {
  border-bottom: 5px solid #F7F7F7;
}

#save {
  padding: 5px 20px;
  float: right;
  margin-right: 5px;
}

#delete {
  padding: 5px 20px;
  float: right;
  margin-right: 5px;
}
.note-control-panel p {
  float: right;
  margin-right: 5px;
}
.note-control-panel select {
  cursor: pointer;
  background-color: #2DBE60;
  color: #FFFFFF;
  font-size: 14px;
  float: left;
}

.note-attr {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.tags {
  float: left;
  color: #2DBE60;
}

.tags strong {
  font-weight: bold;
  color: #7e8375;
  font-size: 14px;
}

.update {
  float: right;
}

/*--- taggings ---*/

.tags-control {
  float: left;
  padding-left: 10px;
}

.tags-control h3 {
  font-size: 18px;
  font-weight: bold;
  color: #7e8375;
  float: left;
}
.tags-control form {
  display: inline;
}
.tags-control input {
  height: 20px;
  padding: 0px 3px;
  margin-left: 1px;
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.tags-control button {
  height: 20px;
  padding: 0px 10px;
  margin-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #CCCCCC;
  border-left: 0px;
}

/*--- modal ---*/
.create-modal textarea {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  min-width: 100%;
  min-height: 40px;
  border: 1px solid #CCCCCC;
  margin: 5px 0px 0px 0px;
}

.create-modal button {
  float: right;
  padding: 5px 20px;
  margin-right: 5px;
  margin-top: 5px;
}
